
.bodyloader {
  width: 100%;
  background-color: #1cd2a2;
}
.loader {
  height: 9em;
  width: 9em;
  border: 1.8em solid #ffffff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 2s ;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
